<% layout('template-admin') -%>
<% block('menu-kegiatan').append('active') %>
<% block('map').append('https://lapor-pkl.herokuapp.com/javascript/map.js') %>
<div class="col-sm-7">
	<h2>Tambahkan Kegiatan</h2>
	<form class="left-form" enctype='application/json' onsubmit="return addKegiatan()">
		<div class="imgcontainer">
		<img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" class="avatar">
		</div>

		<label><b>Nama Kegiatan</b></label>
		<input id="namaKegiatan" type="text" placeholder="Nama Kegiatan" name="namaKegiatan" required>

		<label><b>Lokasi Kegiatan</b></label>
		<input id="formAddress" type="text" placeholder="Lokasi Kegiatan" name="lokasiKegiatan" readonly required>
		<input id="formCoordinate" type="hidden" placeholder="Koordinat Usaha" name="uname" required>
		
		<label><b>Waktu Kegiatan</b></label><br>
		<input type="date" id="date" name="date" placeholder="Tanggal Kegiatan" required> 
		<input type="time" id="time" name="time" placeholder="Waktu Kegiatan" required>

		<br>
		<label><b>Deskripsi Kegiatan</b></label>
		<input id="deskripsiKegiatan" type="text" placeholder="Deskripsi Kegiatan" name="deskripsiKegiatan" required>

		<button id="add-kegiatan-button" type="submit">Tambahkan</button>

		<button type="button" class="cancelbtn" id="cancel">Cancel</button>
	</form>
</div>
<div class="col-sm-5">
	<h2>Tentukan Lokasi</h2>
	<div>
		<input class="geocode-text" id="address" type="textbox" value="" placeholder="Input Location"><input class="geocode-button" type="button" value="Search" onclick="codeAddress()">
	</div>
	<div id="map"></div>	
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWB2rDgaj_jw8qDmsMIGshyvTekFDUxmE&callback=initMap"></script>
</div>

<script>
    document.getElementById("cancel").onclick = function () {
        location.href = "https://lapor-pkl.herokuapp.com/admin/kegiatan";
    };
</script>